body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-top: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

p {
    margin: 5px 0;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
